---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				Hi! I'm Shouvik. I'm currently pursuing my BSc in Mathematics and Computer Science at <a href="https://www.cmi.ac.in/">Chennai Mathematical Institute</a>.
			</p>
			<p>
				This website is a place for me to share my projects and write on various topics. The blogs/projects here will mainly revolve around topics in Mathematics and Computer Science.
			</p>
			<p>Here are a few of my projects:</p>
			<ul>
				<li>
					<a href="https://shouvikghosh2048.github.io/maze-generation-algorithms/">Maze Generation Algorithms</a>:
					This is a website to visualize maze generation algorithms.
					<a href="https://github.com/ShouvikGhosh2048/maze-generation-algorithms">Github</a>
				</li>
				<li>
					<a href="https://shouvikghosh2048.github.io/amidakuji/">Amidakuji</a>:
					Amidakuji (Japanese) is a method for deciding random matchings by tracing paths through an arrangement of lines.
					This is a website for creating and visualizing Amidakuji's.
					<a href="https://github.com/ShouvikGhosh2048/amidakuji">Github</a>
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
